@import "tailwindcss";

@font-face {
    font-family: 'Sohne-Breit';
    src: url('./Fonts/TestSöhneBreit-Buch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sohne-Breit-light';
    src: url('./Fonts/TestSöhneBreit-Leicht.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sohne-Breit-Halbfett';
    src: url('./Fonts/TestSöhneBreit-Halbfett.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Sohne-Breit-Fett';
    src:url('./Fonts/TestSöhneBreit-Fett.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-sohne {
    font-family: 'Sohne-Breit', sans-serif;
    word-spacing: normal;
}
.font-sohne-light{
    font-family: 'Sohne-Breit-light', sans-serif;
    word-spacing: normal;
}
.font-sohne-halbfett{
    font-family: 'Sohne-Breit-Halbfett', sans-serif;
    word-spacing: normal;
}
.font-sohne-fett{
    font-family: 'Sohne-Breit-Fett', sans-serif;
    word-spacing: normal;
}

::selection {
    background-color: #121212; 
    color: #fff; 
}

body {
    cursor: default;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }

.rotate {
    animation: rotate 5s linear infinite;
}
.contact-tag{
    word-spacing: 0.5rem;
}