@import "tailwindcss";

@font-face {
    font-family: 'Sohne-Breit';
    src: url('../public/Fonts/TestSöhneBreit-Buch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-sohne {
    font-family: 'Sohne-Breit', sans-serif;
    word-spacing: 2px;
}
body {
    cursor: default;
    margin: 0;
}
